@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>Please choose what you would like to do!</p>
    <a asp-action="MovieSearch" asp-controller="Home"><input type="submit" value="Search" /></a>
    <a asp-action="MovieNight" asp-controller="Home"><input type="submit" value="Movie Night" /></a>

</div>
